:root {
  --Moss-green: #334D42;
  --Milkshake: #F7C2BC;
  --Matcha: #DBE8C3;
  --Tangerine: #FC8D08;
  --Sunflower: #FFD04D;
  --Marshmallow: #F4E2E1;
  --Gray: #6c757d;
  --White: #fff;
  --Black: #000;
  --font: outfit;
}
*, *::before, *::after {
  box-sizing: border-box;
}
body {
  background-image: url(../img/Proyecto\ Final\ JaP.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  font-family: var(--font);
  display: flex;
  flex-direction: column;
  margin: 0;
  height:100% 
}
body.dark{
  background-image: url(../img/modo-oscuro.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  font-family: var(--font);
  display: flex; 
  flex-direction: column;
  margin: 0; 
  height:100%
}
/* Inicio Scrollbar */
body::-webkit-scrollbar{
  width: 8px;
}
body::-webkit-scrollbar-thumb{
  background-color: var(--Moss-green);
  border-radius: 4px;
}
/* Fin Scrollbar */

/* comienzo switch claro-oscuro */
.switch-box{
	display: flex;
}
.toggle-switch{
  width: 100px;
  height: 45px;
  position: relative;
}
input[type="checkbox"].switch_3{
  appearance: none;
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
width: 80%;
height: 80%;
cursor: pointer;
outline: 0;
z-index: 1;
border: none;
}
input[type="checkbox"].switch_3:checked + svg.checkbox .is_unchecked{
opacity: 1;
  transform: translateX(0) rotate(0deg);
}
input[type="checkbox"].switch_3:checked + svg.checkbox .is_checked{
opacity: 0;
  transform: translateX(-200%) rotate(180deg);
}
svg.checkbox{
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
/*width: 80%;
height: 80%;*/
}
svg.checkbox .is_unchecked{
opacity: 1;
fill: #fff;
  transform-origin: 50% 50%;
  transform: translateX(200%) rotate(45deg);
transition: all .35s;
}
svg.checkbox .is_checked{
opacity: 1;
fill: yellow;
  transform-origin: 50% 50%;
  transform: translateX(0) rotate(0deg);
transition: all .35s;
}
/* fin switch claro-oscuro */
main {
  flex: auto; 
  padding: 20px; 
  box-sizing: border-box;
  min-height: calc(100vh - 210px);
  margin-top: 5%; 
}
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}
.login-box {
  background-color: var(--Matcha);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 350px;
  text-align: center;
}
.login-box a {
  color: #0000FF;
  text-decoration: none;
}
.login-box h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--Moss-green);
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.input-box{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-box input[type="email"], .login-box input[type="password"] {
  width: 100%;
  margin: 10px 0;
  border: 2px solid var(--Milkshake);
  border-radius: 25px;
  font-size: 14px;
  background-color: var(--White);
  box-sizing: border-box;
  outline: none;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.login-box button{
  width: 30%;
  padding: 5px;
  background-color: var(--Moss-green);
  color: var(--White);
  text-transform: uppercase;
  border: none;
  border-radius: 15px;
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  margin-top: 10px;
}
.login-box button:hover {
  background-color: var(--Milkshake);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}
.register-link {
  font-family: outfit;
  font-size: small;
  color:var(--Moss-green);
  text-align: center;
  margin-top: 15px;
}
.register-link a {
  color: blue;
  text-decoration: none;
}
.social-login {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 20px;
}
.social-login button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
.social-login button img {
  width: 30px;
  height: 30px;
}
.social-login a{
  font-weight: bold;
}
.social-login button:hover {
  background-color: transparent;
  box-shadow: none;
}
.magic-link {
  display: inline-flex;
  width: 50%;
  padding: 5px 10px;
  font-size:10px;
  justify-content: center;
  background-color: var(--White);
  border: 2px solid var(--Milkshake);
  border-radius: 15px;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
  margin-top: 10px;
}
/* Header */
.jumbotron .display-4 {
  font-weight: bold;
}
.jumbotron.text-center{
  background-color: rgba(219, 232, 195, 0.5);
  border-radius: 50px;
}
nav a{
  text-decoration: none;
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media (min-width: 768px) {
  .bd-placeholder-img-lg {
      font-size: 3.5rem;
 }
}
.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color:var(--Black);
  font-weight: bold;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 14rem;
    padding-bottom: 7rem;
  }
}
.jumbotron p:last-child {
  margin-bottom: 0;
}
.jumbotron-heading {
  font-weight: 300;
}
.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}
.jumbotron .lead {
  font-size: 38px;
}
.menu-toggle{
  display: none;
  font-size: 37px;
  background:none;
  border: none;
  color: var(--Tangerine);
  cursor: pointer;
}
/*Fin del Header*/
/*Inicio del footer*/
footer {
  width: 100%;
  position: fixed;
  bottom: 0%;
  background-color: var(--Marshmallow);
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}
footer p {
  margin-bottom: .25rem;
  color: var(--Black);
  font-weight: bold;
}
footer a{
  color: var(--Moss-green);
}
.container{
  display: flex;
  justify-content: space-around;
}
.container div{
  display: flex;
  justify-content: space-between;
}
.jap-redes{
  width: 66%;
}
.container i{
  margin: 0% 1rem 0% 1rem;
  font-size: large;
}
.bi-chevron-double-up{
  display: none;
}
/* fin de footer default*/
.site-header a {
  color:var(--White);
  transition: ease-in-out color .15s;
}
.site-header .dropdown-menu a {
  color:var(--Black);
}
/* Estilo del botón de selección dentro del dropzone */
.dropzone {
  border: 2px dashed var(--Moss-green); /* Bordes acordes con el diseño */
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  background-color: var(--Matcha);
  transition: background-color 0.3s ease;
}

.dropzone:hover {
  background-color: var(--Milkshake); /* Cambio de fondo al pasar el cursor */
}

.dropzone p {
  color: var(--Moss-green); /* Texto en el color de la paleta */
  font-weight: bold;
  font-size: 1.2rem;
}

.dropzone input {
  display: none; /* Oculta el input de archivo por defecto */
}

.dropzone::before {
  content: "Seleccionar archivo o arrastrar aquí";
  display: inline-block;
  font-size: 1rem;
  padding: 10px 20px;
  border: 2px solid var(--Milkshake);
  border-radius: 30px;
  background-color: var(--Moss-green);
  color: var(--White);
  cursor: pointer;
  transition: all 0.3s ease;
}

.dropzone:hover::before {
  background-color: var(--Milkshake); /* Fondo cambia a Milkshake */
  color: var(--Moss-green); /* Texto cambia a Moss-green */
}
.img-fit {
  max-height: 100%;
}
.alert {
  display: none;
 /*silenciado por Marcia para ver el login hasta ser necesitado*/
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}
.cursor-active {
  cursor: pointer;
}
.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
      transform: rotate(0deg);
 }
  100% {
      transform: rotate(360deg);
 }
}
.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}
main {
  min-height: calc(100vh - 210px);
}
a.custom-card, a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}
.checked {
  color: orange;
}
.header {
  background-color: var(--Moss-green);
  padding: 3px 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
}
.header nav {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 15px;
  margin: 0;
  padding: 0;
  border: none;
}
@media (min-width: 768px) {
  nav {
      display: flex;
      flex-direction: row;
      padding: 10px;
 }
  .menu-toggle {
      display: none;
 }
}
@media (max-width: 768px) {
  nav {
      display: none;
      position: absolute;
      top: 60px;
      left: 0;
      background-color: rgba(222, 244, 222, 0.3);
      width: auto;
      max-width: 300px;
      flex-direction: column;
      padding: 10px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.2);
      z-index: 10;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease-out;
      margin: 0;
      border: none;
 }
  nav.active {
      display: flex;
      max-width: 200px;
      max-height: 300px;
 }
  .menu-toggle {
      display: block;
 }
  nav a {
      display: block;
      padding: 10px;
      text-decoration: none;
      border-bottom: 2px solid var(--Tangerine);
      box-sizing: border-box;
 }
  nav a:last-child{
      border-bottom:none;
 }
}
.header__text {
  font-family: var(--font);
  color: var(--Tangerine);
  margin-right: 50px;
}
.header__text:hover {
  color: var(--Milkshake);
  cursor: pointer;
}
.header a svg {
  margin-left: auto;
}
.logojap {
  margin-right: 130px;
}
.logojap img {
  width: 270px;
  height: auto;
  display: block;
  margin: 0;
}
.container-p {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}
.password-container {
  background-color: var(--Matcha);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 350px;
  text-align: center;
}
.password-container h2 {
  font-family: var(--font);
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--Moss-green);
  text-transform: uppercase;
}
.password-container p {
  margin-bottom: 30px;
  color: var(--Moss-green);
}
.password-container input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 2px solid var(--Milkshake);
  border-radius: 25px;
  font-size: 14px;
  background-color: var(--White);
  box-sizing: border-box;
  outline: none;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  margin-bottom: 20px;
}
.password-container button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: var(--Moss-green);
  color: var(--White);
  border: none;
  border-radius: 25px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  margin-bottom: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.password-container button {
  width: 100%;
  padding: 10px;
  background-color: var(--Moss-green);
  color: var(--White);
  border: none;
  border-radius: 25px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.password-container button:hover {
  background-color: var(--Milkshake);
}
.password-container a {
  text-decoration: none;
  color: var(--Moss-green);
}
.register-container{
  background-color: var(--Matcha);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  max-width: 400px;
}
.register-container h1{
  color: var(--Moss-green);
  margin-bottom: 1rem;
  text-align: center;
}
.register-form{
  display: flex;
  flex-direction: column;
}
#products-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  padding: 0.75rem;
}
.titulo {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
h1{
  color: #FC8D08;
  font-size: 2.2rem;
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
  margin: 0;
}
h1::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 8.5px;
  transform: translateX(-50%);
  width: 100%;
  height: 2px;
  background-color: #F09100;
}
.card {
  background-color: var(--Matcha);
  border: 2px solid var(--Moss-green);
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  width: 19rem;
  height: 25rem;
  margin-bottom: 3rem;
  margin-top: 1rem;
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}
.card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 200px;
  object-fit: cover;
}
.card-body {
  padding: 1rem;
}
.card-title {
  color: var(--Moss-green);
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.card-text {
  color: var(--Gray);
}
.card-description {
  color: var(--Gray);
}
.card-price {
  color: var(--Tangerine);
  font-size: 1.1rem;
  font-weight: bold;
}
.divider {
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--Moss-green);
  margin: 20px -50px;
}
.divider::before, .divider::after {
  content: "";
  flex-grow: 1;
  border-top: 1px solid var(--Moss-green);
  margin: 0 10px;
}
.divider span {
  white-space: nowrap;
  color: var(--Moss-green);
  font-size: 16px;
}
/* INICIO Prompt Newsletter */
#newsletterPrompt {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  width: 30%;
  background-color: var(--Matcha);
  border: 3px solid var(--Moss-green);
  border-radius: 4px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s ease-out;
  z-index: 1000;
}
#newsletterPrompt.show {
  transform: translate(-50%, 0);
}
#newsletterPrompt .prompt-content {
  text-align: center;
}
#newsletterPrompt button {
  margin: 5px;
  padding: 10px 20px;
  background-color: var(--Milkshake);
  border: 1px solid var(--Moss-green);
  border-radius: 4px;
  color: #000;
  cursor: pointer;
}
#newsletterPrompt button:hover {
  background: var(--Sunflower);
}
#newsletterPrompt, #newsletterPrompt .prompt-content {
  font-family: 'Outfit', sans-serif !important;
}
/* FIN Prompt Newsletter */
.register-container {
  background-color: var(--Matcha);
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 350px;
  width: 450px;
  text-align: center;
}
.register-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--Moss-green);
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.register-container h1::after {
  content: none;
}
.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.register-form label {
  align-self: flex-start;
  margin-bottom: 5px;
  color: var(--Moss-green);
}
.register-form input {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: 2px solid var(--Milkshake);
  border-radius: 25px;
  font-size: 14px;
  background-color: var(--White);
  box-sizing: border-box;
  outline: none;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.register-form button {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: var(--Moss-green);
  color: var(--White);
  text-transform: uppercase;
  border: none;
  border-radius: 25px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.register-form button:hover {
  background-color: var(--Milkshake);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
}
.popup-content p {
  margin: 0 0 15px;
  font-size: 18px;
}
.popup-content button {
  padding: 10px 20px;
  background-color: #F09100;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.popup.show{
  display: flex;
}
.hidden {
  display: none;
}
#popupForm {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--Matcha);
  padding: 20px;
  border: 2px solid var(--Moss-green);
  border-radius: 4px;
  z-index: 1000;
}
#popupForm button[type="submit"] {
  background-color: var(--Moss-green);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
#popupForm button[type="submit"]:hover {
  background-color: var(--Milkshake);
}
/* INICIO Nombre de Usuario y Menú Desplegable */
#user-name {
  margin-left: auto;
  padding: 5px;
  font-size: 18px;
}
.user-menu-container {
  position: relative;
  display: inline-block;
}
.dropdown-menu {
  position: absolute;
  right: 0;
  background-color: var(--Moss-green);
  display: none;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-item {
  display: block;
  padding: 8px 16px;
  color: var(--Tangerine);
  text-decoration: none;
}
.dropdown-item:hover {
  background-color: var(--Marshmallow);
}
.user-menu-container:hover .dropdown-menu {
  display: block;
}
/* FIN Nombre de Usuario y Menú Desplegable */
@media only screen and (max-width: 768px) {
  body {
      background-position: center;
 }
  .login-container{
      display: block;
 }
  .logojap, .logojap img, .login-box {
      margin: auto;
 }
  .login-box{
      width:fit-content;
 }
  .container{
      display: flex;
 }
  .container div{
      flex-wrap: nowrap;
      align-self: center;
      width: fit-content;
 }
  .container div.jap-redes{
      width: 100%;
      display: flex;
      flex-direction: column-reverse;
      justify-self: center;
 }
  .bi-chevron-double-up{
      display: block;
      justify-self: end;
 }
  .volver-link{
      display: none;
 }
  .container p{
      font-size: small;
      align-self: center;
 }
}
#productSearch {
  padding: 10px;
  border-radius: 25px;
  border: 1px solid var(--Milkshake);
  font-size: 1rem;
  flex-grow: 1;
}
.filter {
  position: relative;
  display: inline-block;
  font-family: var(--font);
  font-size: 1.3rem;
}
.filter-menu {
  display: none;
  background-color: rgba(255, 255, 255, 0.685);
  padding: 10px;
  font-size: 1.1rem;
  color: var(--Moss-green);
  border-radius: 10px;
}
.filter-toggle {
  font-size: 1rem;
  background-color: var(--Tangerine);
  color: var(--Moss-green);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 25px;
}
.filter-menu h3 {
  margin: 0 0 10px 0;
  color: var(--Moss-green);
  font-size: 1.5rem;
}
#sort-options {
  font-size: 1rem;
  background-color: var(--Milkshake);
  color: var(--Moss-green);
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: auto;
}
#sort-options-wrapper {
  position: relative;
}
.price-range {
  margin-bottom: 10px;
}
.price-range input {
  margin-right: 5px;
  color: var(--Moss-green);
  background-color: var(--Matcha);
  border: var(--Moss-green);
}
#apply-filters {
  background-color: var(--Moss-green);
  color: var(--Tangerine);
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#apply-filters:hover {
  color: var(--Moss-green);
  background-color: var(--Tangerine);
}
/* Contenedor principal para agrupar las imágenes y la información */
.product-details-container {
  display: flex;
  flex-direction: row;
 /* Asegura que las imágenes y la información estén en columnas (lado a lado) */
  gap: 2rem;
  width: 100%;
  margin-top: 2rem;
}
/* Contenedor para la columna de imágenes del producto */
#product-images {
  position: relative;
}
.products-img-btn{
  display: flex;
  align-items: center;
  justify-content: center;
}
#main-image-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}
#main-image {
  max-width: 100%;
  height: auto;
  display: block;
}
#thumbnails-container {
  display: flex;
  justify-content: center;
 /* Centra las miniaturas horizontalmente */
  flex-wrap: wrap;
 /* Permite que las miniaturas se envuelvan en una nueva línea si es necesario */
  margin-top: 10px;
 /* Espacio superior entre la imagen principal y las miniaturas */
}
.thumbnail {
  width: 100px;
  height: 100px;
  margin: 0.5rem;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 5px;
  overflow: hidden;
  transition: border-color 0.3s;
}
.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.thumbnail.active {
  border-color: var(--Marshmallow);
}
/* Botones de navegación */
.nav-buttons {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 10;
}
.nav-button {
  background-color: pink;
 /* Color inicial rosado */
  border: 1px solid pink;
 /* Borde inicial rosado */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  position: relative;
}
.nav-button:hover {
  background-color: white;
 /* Fondo blanco al hacer hover */
  border-color: var(--Milkshake);
 /* Borde color milkshake al hacer hover */
}
.nav-button::before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-top: 2px solid white;
 /* Flecha blanca inicialmente */
  border-right: 2px solid white;
  transition: border-color 0.3s ease;
  position: absolute;
}
.prev-button::before {
  transform: rotate(-135deg);
  left: 16px;
}
.next-button::before {
  transform: rotate(45deg);
  right: 16px;
}
.nav-button:hover::before {
  border-color: var(--Milkshake);
 /* Flecha color milkshake al hacer hover */
}
.product-info-comments {
  flex: 1;
  max-width: 30%;
 /* Ajusta el ancho máximo para la columna de información */
  display: flex;
  flex-direction: column;
 /* Apila la información y los comentarios verticalmente */
}
#product-info, #product-comments, #product-form {
  background-color: var(--Milkshake);
  border-radius: 8px;
  padding: 1.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
#product-info h2, #product-comments h3 {
  color: var(--Moss-green);
  font-size: 1.8rem;
  margin-bottom: 1rem;
  font-weight: bold;
}
.product-form textarea {
  width: 100%;
  height: 200px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: vertical;
}
.product-form button[type="submit"] {
  background-color: var(--Matcha);
  color: var(--Black);
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 30px;
 /* Aumenta el margen superior para mayor separación */
}
.product-form button[type="submit"]:hover {
  background-color: var(--Moss-green);
  color: white;
}
.product-form select {
  width: 100px;
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  margin-bottom: 15px;
}
.product-form label {
  font-size: 18px;
  color: var(--Moss-green);
}
.comment {
  background-color: transparent;
  padding: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--Moss-green);
}
.toggle-buttons {
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-bottom: 1rem;
}
.btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 20px;
  background-color: var(--Matcha);
}
.btn:hover {
  color: var(--Milkshake);
}
.btn.active {
  background-color: var(--Moss-green);
  color: white;
}

/* Inicio Ícono Favorito */
#favorite-icon {margin-left: auto; 
  cursor: pointer;
  font-size: 24px;
  color: #f00;
  margin: 10px;
  transition: color 0.3s ease;
}
#favorite-icon:hover {
  color: #ff6666;
}
/* Fin Ícono Favorito */
/* Inicio Menu Desplegable Categorias */
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: var(--Moss-green);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-menu a {
  color: var(--Tangerine);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-menu a:hover {
  background-color: var(--Marshmallow);
}
.dropdown:hover .dropdown-menu {
  display: block;
}
/* Fin Menu Desplegable Categorias */
/* Estilo del select */
#select-score {
  background-color: var(--Moss-green);
  color: var(--Milkshake);
  border: 2px solid var(--Milkshake);
  border-radius: 12px;
  padding: 8px 20px;
  font-size: 16px;
  font-weight: bold;
  outline: none;
  width: fit-content;
}
/* Estilo para las opciones */
#select-score option {
  background-color: var(--Moss-green);
  color: var(--Milkshake);
  padding: 8px;
}
/* Estilo para el select cuando está desplegado */
#select-score:focus {
  background-color: var(--Moss-green);
}
/* Fin del estilo del select */

/* Contenedor para los botones */
.product-buttons {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}

/* Estilos base para ambos botones */
.product-btn {
  flex: 1;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Estilo específico para el botón de agregar al carrito */
.add-cart-btn {
  background-color: var(--Matcha);
  color: var(--Black);
}

.add-cart-btn:hover {
  background-color: var(--Moss-green);
  color: var(--Milkshake);
}

/* Estilo específico para el botón de comprar */
.buy-btn {
  background-color: var(--Matcha);
  color: var(--Black);
}

.buy-btn:hover {
  background-color:var(--Moss-green);
  color: var(--Milkshake);
}

/* Responsividad */
@media (max-width: 768px) {
  .product-details-container {
      flex-direction: column;
 }
  #product-images, .product-info-comments {
      max-width: 100%;
 }
}
.related-products h3{
  margin-top: 4rem;
  color: var(--Tangerine);
  text-align: center;
}
.related-products-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  align-items: center;
}
/* Tarjeta de cada producto relacionado */
.related-product-card {
  background-color: transparent;
  border: 1px solid var(--Gray);
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: calc(25% - 15px);
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  font-family: var(--font);
  margin-bottom: 3rem;
}
/* Imagen del producto relacionado */
.related-product-img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  transition: transform 0.3s;
}
/* Nombre del producto relacionado */
.related-product-card p {
  padding: 10px;
  margin: 0;
  color: var(--Moss-green);
  font-size: 1rem;
  font-weight: bolder;
}
/* Efectos de hover para las tarjetas de productos relacionados */
.related-product-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.related-product-card:hover .related-product-img {
  transform: scale(1.1);
}
/* Inicio Zoom Products-info.hmtl */
#main-image-container {
  position: relative;
  overflow: hidden;
  cursor: zoom-in;
}
#main-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease;
}
#main-image.zoomed {
  transform: scale(2);
  cursor: zoom-out;
}
/* Fin Zoom Products-info.hmtl */

/* Inicio Banner */
#banner {
  background-color: var(--Moss-green);
  color: var(--Tangerine);
  padding: 12px 20px;
  text-align: center;
  font-size: 16px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  margin-top: 80px;
  position: relative;  
}
/* Fin Banner */
/* Inicio Foto de Perfil */
.profile-container {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid var(--Moss-green);
  overflow: hidden;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#profile-picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: none;
}
.upload-btn {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  width: 100%;
  text-align: center;
  padding: 5px;
  cursor: pointer;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.profile-container:hover .upload-btn {
  opacity: 1;
}
/* Fin Foto de Perfil */
.form-container{
  background-color: var(--Matcha);
  padding: 20px;
  border-radius: 10px;
  width: 500px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto 40px auto;
  position: relative;
  top: 10px;
}

.form-container.dark{
  background-color: rgba(219, 232, 195, 0.5);
}
form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
label{
  margin-bottom: 5px;
  font-size: 14px;
}
input{
  margin-bottom: 15px;
  padding: 10px;
  border: 2px solid var(--Milkshake);
  border-radius: 35px;
  font-size: 14px;
  outline: none;
  width: 60%;
}
input:focus{
  border-color: var(--Marshmallow);
}
.form-container button{
  padding: 10px;
  background-color: var(--Moss-green);
  color: white;
  border: none;
  border-radius: 35px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 60%;
  text-transform: uppercase;
  font-weight: bold;
}
.form-container button:hover{
  background-color: var(--Milkshake);
}
.remove-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
#remove-picture{
  font-size: 10px;
  padding: 10px;
  background-color: var(--Milkshake);
  width: 22%;
}
#remove-picture:hover{
  background-color: var(--Moss-green);
}
.error-message {
  color: red;
  font-size: 0.875em;
  display: block;
  text-transform: uppercase;
}
/* Estilos para el modal */
.modal {
  display: none; 
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var();
  justify-content: center;
  align-items: center;
  z-index: 999; 
}
/* Contenido del modal */
.modal-content {
  background-color: var(--Milkshake);
  margin: 15% auto;
 /* Centrar el modal */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
 /* Limitar el ancho */
  border-radius: 8px;
  text-align: center;
  box-shadow: var(--Gray);
}


/* Texto del mensaje de éxito */
.modal-body h2 {
  margin-top: 15px;
  color: var(--Moss-green)
  word-wrap: break-word; 
  overflow-wrap: break-word; 
  max-width: 100%; 
}

/* Botón de cerrar (X) */
.close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  color: #aaa; /* Color inicial */
  cursor: pointer;
}

.close-btn:hover, .close-btn:focus {
  color: #000; /* Color al pasar el cursor */
}


/* Animación del checkmark */
.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: var(--Marshmallow);
  stroke-miterlimit: 10;
  margin: 10px auto 20px;
  box-shadow: inset 0px 0px 0px #28a745;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}
.checkmark-circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: var(--Moss-green);
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}
.checkmark-stem {
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) .7s forwards;
}
.checkmark-kick {
  stroke-dasharray: 30;
  stroke-dashoffset: 30;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) .9s forwards;
}

/*CARRITO*/
.main-container {
  display: flex; /* Utiliza flexbox para alinear los elementos horizontalmente */
  align-items: flex-start; /* Alinea verticalmente los elementos al inicio */
  gap: 1rem; /* Espacio entre los contenedores */
  padding: 1rem; /* Espaciado interno del contenedor principal */
}

.cart-conteiner{
  display: flex; /* Distribuir espacio entre los elementos */
  align-items: center; /* Alinear verticalmente al centro */
  border-radius: 8px; /* Mantener el radio de borde */
  border: 2px solid var(--Milkshake);
  flex: 1; /* Incrementa el tamaño relativo para que sea más grande */
  padding: 1rem; /* Aumenta el padding para dar más espacio interno */
  width: 100%; /* Incrementa el ancho máximo */
  margin: 1rem;
}
  
#chosen-products {
  background-color: #f4e2e17d; /* Color de fondo */
  color: var(--Moss-green); /* Color de texto */
  border: 2px solid var(--Moss-green); /* Borde */
  display: flex;
  flex-direction: column; /* Mantiene el contenido en columnas internas */
  border-radius: 1rem; /* Bordes redondeados */
  padding: 1rem; /* Espaciado interno */
  width: 100%; /* Ajusta el ancho según sea necesario */
  max-width: 100%; /* Asegura que no exceda el ancho del contenedor */
  margin-bottom: 2rem;
}

#chosen-products > div {
  display: flex;
  flex-direction: row; /* Distribuye en fila */
  justify-content: space-between; /* Espacio entre los elementos de la fila */
  align-items: center;
  width: 90%; /* Cada fila ocupa el ancho completo del contenedor */
  gap: 1rem;
  padding: 1rem;
}

#chosen-products img {
  background-color: var(--Moss-green);
  border-radius: 1rem;
  padding: 0.1rem;
  margin-left: 1.5rem;
  width: 30%;
  height: auto;
}

#chosen-products > div > div {
  display: flex;
  flex-direction: column; /* Cambia a columna para el contenido textual */
  flex: 1; /* Permite que el contenido ocupe el espacio restante */
  border: 0.1rem solid var(--Moss-green);
  border-radius: 1rem;
  background-color: #334d4226;
  align-items: flex; /* Alinea el contenido a la derecha */
  justify-content: center; /* Centra verticalmente el contenido */
  padding: 0;
  width: 50%;
  height: 9rem;
}

#chosen-products h3 {
  font-size: 2rem;
  margin-top: 1rem; /* Quita márgenes para evitar separación indeseada */
  margin-left: 1rem;
  align-items: center;
}

#chosen-products > p{
  font-size: 1.5rem;
  margin-left: 1rem;
  align-items: center;
  max-width: 50%;
  width: 50%;
  margin: 2rem auto;
}

#chosen-products .price {
  font-size: 1.5rem;
  margin: 0; /* Quita márgenes para evitar separación indeseada */
  margin-left: 1rem;
  align-items: center;
}

#chosen-products > div > div > div {
  flex: 1; /* Permite que los elementos hijos también ocupen espacio igual */
  display: flex; /* Asegura que los elementos dentro de este div se alineen */
  justify-content: flex-end; /* Alinea horizontalmente el contenido a la derecha */
  align-items: center; /* Alinea los elementos verticalmente al centro */
}

#chosen-products > div > div > div > input {
  background-color: transparent;
  border: 0.1rem solid var(--Moss-green);
  width: 3rem; /* Mantén el mismo ancho para todos los inputs */
  height: 1rem; /* Establece la misma altura que el label */
  color: var(--Moss-green);
  margin: 1rem; /* Elimina márgenes innecesarios y reduce el espacio entre inputs */
  text-align: center;
  align-self: center; /* Alinea el input al centro del contenedor flex */
}

#chosen-products > div > i{
  color: var(--Tangerine);
  font-size: 1.5rem;
  margin-right: 0;
}

#payment {
  background-color: #f4e2e17d; /* Color de fondo */
  color: var(--Moss-green); /* Color de texto */
  border: 2px solid var(--Moss-green); /* Borde */
  display: flex;
  flex-direction: column; /* Apilar en filas para el contenido interno */
  align-items:center; /* Centra horizontalmente el contenido */
  border-radius: 1rem; /* Bordes redondeados */
  padding: 1rem; /* Espaciado interno */
  width: 30%;
  max-width: 50%; /* Ajusta el ancho según sea necesario */
  margin: 0; /* Elimina márgenes innecesarios */
}

#total-products{
  text-align: left;
  color: var(--Moss-green);
  margin-bottom: 2rem;
}

#subtotal-uyu{
  text-align: left;
  color: var(--Moss-green);
  margin-bottom: 0.5rem;
}

#subtotal-usd{
  text-align: left;
  color: var(--Moss-green);
  margin-bottom: 3rem;
}

#final-total{
  font-size: 2rem;
  text-align: left;
  color: var(--Moss-green);
  margin-bottom: 3rem;
}

#currencySelector{
  font-size: 1rem;
  color: var(--Moss-green);
  background-color: #f7c2bc6f;
  border: 0.1rem solid var(--Moss-green);
  border-radius: 2rem;
  width: 70%;
}

#payment > div{
  display: flex;           
  flex-direction: column;   
  align-items: center;        
  justify-content: center;     
  gap: 0.5rem;    
                  
}             

#to-pay, #keep-buying {
  font-size: 1.3rem;
  color: var(--Moss-green);
  background-color: var(--Matcha);
  border: 0.1rem solid var(--Moss-green);
  border-radius: 2rem;
  padding: 0.1rem 0.2rem;
  margin: 0 auto;        /* Espaciado interno para un mejor aspecto */
  margin-bottom: 0.5rem;
}
#currency-modal {
  position: fixed; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  background-color: var(--Matcha); 
  width: 80%;
  max-width: 400px;
  padding: 20px;
  border-radius: 8px;
  z-index: 10000;
}

@keyframes stroke {
  100% {
      stroke-dashoffset: 0;
 }
}
@keyframes scale {
  0%, 100% {
      transform: none;
 }
  50% {
      transform: scale3d(1.1, 1.1, 1);
 }
}
@keyframes fill {
  100% {
      box-shadow: inset 0px 0px 0px 30px #28a745;
 }
}
 /* Badge del carrito */
#cart-badge {
  font-size: 0.75rem;
  background-color: var(--Tangerine);
  color: var(--Moss-green);
}
 /* Tipo de envío y dirección */
.shipping-and-address-container{
  background-color: #f4e2e17d;
  color: var(--Moss-green);
  border: 2px solid #F4CFCF;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  padding: 1rem;
  width: 100%;
  max-width: 100%;
  margin-bottom: 2rem;
}
 /* Logos de los bancos en modal de transferencia bancaria */
.modal-content img {
  width: 50px;
  height: auto;
  margin: 5px;
  cursor: pointer;
}
 
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.shipping-type {
  display: flex;
  flex-direction: row; /* Las opciones de envío estarán en fila */
  justify-content: space-between; /* Espacio equidistante entre las opciones */
  gap: 20px; /* Espacio entre las opciones */
}

.shipping-type label {
  display: flex;
  flex-direction: row; /* Cambié de columna a fila para que el icono esté antes que el texto */
  align-items: flex-start; /* Alinea el contenido al principio */
  font-size: 14px;
  text-align: left; /* Asegura que el texto se alinee a la izquierda */
  width: 200px; /* Ancho fijo para las opciones */
  padding: 10px;
}

.material-icons {
  font-size: 80px !important; /* Aumenta el tamaño del icono con !important */
  margin-right: 10px; /* Espacio entre el icono y el texto */
  cursor: pointer;
}

.shipping-type input[type="radio"] {
  margin-right: 8px;
  display: none; /* Ocultamos el radio button */
}

.shipping-type .material-icons {
  font-size: 24px; /* Tamaño del ícono */
  color: #FFA500; /* Color naranja */
  cursor: pointer;
}

/* Cambiar icono cuando el radio está seleccionado */
.shipping-type input[type="radio"]:checked + span {
  content: 'check_box'; /* Cambia a cuadro con el tic */
}


@media screen and (max-width: 800px) {
  .shipping-type {
    flex-direction: row; /* En pantallas pequeñas, las opciones se apilan verticalmente */
    align-items: center;
  }

  /* Reducir el tamaño de los iconos en pantallas pequeñas */
  .material-icons {
    font-size: 30px !important; /* Reduce el tamaño de los iconos */
  }

  /* Reducir el tamaño de los textos en pantallas pequeñas */
  .shipping-type label {
    font-size: 12px; /* Reduce el tamaño del texto */
    width: auto; /* El ancho no tiene que ser fijo */
  }
}

/* Contenedor para los elementos en la primera fila */
.address-row-1 {
  display: flex;
  gap: 10px; /* Espacio entre los campos */
  align-items: center;
  width: 100%;
 }

#user-address{
  width: 90%;
}

#number, #apartment {
  width: 20%;
}

#address-form label{
  margin-bottom: 0 !important;
  padding: 0;
  line-height: 1;
  padding-right: 0 !important;
}



#corner {
  flex-direction: row;
  width: 46%;
}

/* Contenedor para la segunda fila */
.address-row-2 {
  display: flex;
  flex-direction: row;
  margin-top: 10px; /* Espacio superior para separar de la primera fila */
  width: 100%;
  gap: 10px;
  align-items: center;
}

.address-row-3{
  width: 100%;
}

#corner input {
  width: 80% !important;
}
.main-container {
  display: flex;
  gap: 20px; /* Espacio entre los dos contenedores */
  align-items: stretch; /* Ambos contenedores tendrán la misma altura */
}
.left-container,
.right-container {
  flex: 1;
  padding: 20px;
  border-radius: 12px; /* Bordes redondeados */
  background-color: rgba(255, 182, 193, 0.3); }

.left-container {
  flex: 3; /* Contenedor izquierdo más ancho */
  display: flex;
  flex-direction: column; /* Alinea los elementos en columna */
  justify-content: center; /* Centra el contenido verticalmente */
  align-items: center; /* Centra el contenido horizontalmente */
  gap: 20px;
  color: var(--Moss-green);
}

.form-of-payment-container h2 {
  color: var(--Moss-green); /* Verde */
  margin-bottom: 20px;
}

.right-container {
  width: 100%;
}

/* Estilo para los botones de pago */
button[type="submit"], .btn-primary, .form-of-payment-container button {
  width: 100%;
  margin-bottom: 20px; /* Espacio entre los botones */
  padding: 12px;
  font-size: 16px;
  color: #ffffff; /* Texto en blanco */
  background-color: var(--Moss-green); /* Fondo verde */
  border: none;
  border-radius: 38px; /* Bordes redondeados */
  cursor: pointer;
  text-transform: uppercase; /* Texto en mayúsculas */
  font-family: "outfit";
}

 .form-of-payment-container button:hover {
  background-color: var(--Milkshake); /* Fondo verde oscuro al pasar el mouse */
}
.btn-primary {
  width: 30%;
  margin-top: 20px;
}

.btn-primary:hover{
  background-color: var(--Milkshake);
}
button[type="submit"]:hover{
  background-color: var(--Milkshake);
}

.modal-content input{
  width: 100%;
}
#map {
  width: 50%; /* El mapa toma el 100% del ancho de su contenedor */
  height: 400px; /* Altura fija del mapa */
  margin-bottom: 20px; /* Ajusta este valor para crear más espacio */

}

.address-row-3 select {
  width: 48%; /* Hace que ambos selects ocupen casi el 50% del espacio, con un gap entre ellos */
  padding: 10px; /* Espaciado dentro del select */
  border: 2px solid #ccc; /* Borde similar al de los inputs */
  border-radius: 5px; /* Bordes redondeados */
  background-color: #f9f9f9; /* Fondo similar al de los inputs */
  font-size: 14px; /* Tamaño de fuente */
  color: #333; /* Color del texto */
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

.left-container .address-form-row {
  display: flex;
  justify-content: space-between; /* Distribuye el espacio entre los selects */
  gap: 20px; /* Espacio entre los selects */
  margin-top: 10px; /* Añade un margen superior si es necesario */
  width: 100%; /* Asegura que ocupe todo el ancho del contenedor */
  align-items: center;
  }

/* Estilo de los selects */
.left-container .address-form-row select {
  width: 80%; /* Hace que cada select ocupe casi la mitad del contenedor */
  padding: 10px; /* Padding dentro del select */
  padding-right: 0;
  border: 2px solid var(--Milkshake); /* Borde similar a los otros inputs */
  border-radius: 45px; /* Bordes redondeados */
  background-color: #f9f9f9; /* Fondo claro */
  font-size: 14px; /* Tamaño de la fuente */
  color: #333; /* Color del texto */
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}
/* Estilo base para los selectores */
select {
  width: 80%; /* Reduce el ancho al 80% del contenedor */
  max-width: 300px; /* Ancho máximo para evitar que se expandan demasiado */
  margin: 0 auto; /* Centra los selectores */
  padding: 10px 15px;
  font-size: 1rem;
  font-family: var(--font);
  color: var(--Moss-green);
  background-color: var(--Milkshake);
  border: 2px solid var(--Milkshake);
  border-radius: 25px;
  appearance: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

/* Opciones dentro del select */
select option {
  background-color: var(--Milkshake);
  color: var(--Moss-green);
  padding: 10px;
}

/* Efecto al enfocar */
select:focus {
  outline: none;
  border-color: var(--Moss-green);
  background-color: var(--Matcha);
  color: var(--Black);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Efecto al pasar el cursor */
select:hover {
  border-color: var(--Tangerine);
  box-shadow: 0 0 5px rgba(255, 140, 0, 0.5);
}