:root {
  --Moss-green: #334D42;
  --Milkshake: #F7C2BC;
  --Matcha: #DBE8C3;
  --Tangerine: #FC8D08;
  --Sunflower: #FFD04D;
  --Marshmallow: #F4E2E1;
  --Gray: #6c757d;
  --White: #fff;
  --Black: #000;

  --font: outfit;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.login-box {
  background-color: var(--Matcha);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 350px;
  text-align: center;
  align-items: center;
}
  
.login-box a {
  color: #0000FF; /* Azul para enlaces */
  text-decoration: none;
}
 
.login-box h2 {
  font-family: var(--font);
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--Moss-green); 
  text-align: center;
}

.divider {
  align-items: center;
  text-align: center;
  font-family: outfit;
  color:#334D42;
}

.login-box input[type="text"],
.login-box input[type="password"] {
    width: 100%; 
    margin: 10px 0;
    border: 2px solid #F7C2BC;
    border-radius: 25px; 
    font-size: 14px;
    background-color: #fff;
    box-sizing: border-box;
    outline: none; 
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.login-box button {
  width: 30%;
  padding: 5px;
  background-color: #334D42; 
  color: #fff; 
  border-radius: 15px; 
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.register-link {
  font-family: outfit;
  font-size: small;
  color: #607239;
  text-align: center; 
  margin-top: 15px;
}

.register-link a {
  font-size:small;
  color: #607239; 
  text-decoration: none; 
}
.register-link a.enlace {
  color: #0537c0; 
}

.social-login {
  display: flex;
  justify-content: center;
  gap: 10px; 
  margin-bottom: 20px;
}

.social-login button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-login button img {
  width: 30px; 
  height: 30px;
}

.social-login button:last-child {
  width: 40%; 
    margin: 10px 0;
    border: 2px solid #F7C2BC;
    border-radius: 25px; 
    font-size: 10px;
    background-color: #fff;
    box-sizing: border-box;
    outline: none; 
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.jumbotron,
.card-body,
.container,
.site-header {
  font-family: outfit; 
}

.jumbotron .display-4 {
  font-weight: bold;
}

nav a {
  text-decoration: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0%;
  background-color: var(--Marshmallow);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
footer p {
  margin-bottom: .25rem;
  color: var(--Black);
  font-weight: bold;
}
footer a{
  color: var(--Moss-green);
}
.container{
  display: flex;
  justify-content: space-between;
}
.container div{
  display: flex;
  flex-wrap: wrap;
  width: 30%;
}
.container i{
  margin: 0% 1rem 0% 1rem;
  font-size: large;
}
.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  display: none; /*silenciado por Marcia para ver el login hasta ser necesitado*/
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

.header{
  background-color: var(--Moss-green);
  padding: 3px 30px;
  
}

.header nav {
  display: flex;
  align-items: center;
  width: 100%;
}

.header__text {
  font-family: var(--font);
  color: var(--Tangerine);
  margin-right: 50px;
}

.header__text:hover {
  color: var(--Milkshake);
}

.header svg {
  margin-left: auto;
  cursor: pointer;
}


.logojap {
  margin-right: 130px; /* Ajusta este valor según necesites */
}
.logojap img {
  width: 270px;
  height: auto;
}
