:root {
  --Moss-green: #334D42;
  --Milkshake: #F7C2BC;
  --Matcha: #DBE8C3;
  --Tangerine: #FC8D08;
  --Sunflower: #FFD04D;
  --Marshmallow: #F4E2E1;
  --Gray: #6c757d;
  --White: #fff;
  --Black: #000;
  --font: outfit;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
  background-image: url(../img/Proyecto\ Final\ JaP.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  font-family: var(--font);
  display: flex; 
  flex-direction: column;
  margin: 0; 
  height:100%
}

main {
  flex: auto; 
  padding: 20px; 
  box-sizing: border-box; 
}


/* por ahora afuera (Agus)
.inicios{
  position: relative;
  width: 20%;
  bottom: 250px;
  left: 315px;
}
*/

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.login-box {
  background-color: var(--Matcha);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 350px;
  text-align: center;
}
  
.login-box a {
  color: #0000FF; 
  text-decoration: none;
}
 
.login-box h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--Moss-green); 
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.input-box{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-box input[type="email"],
.login-box input[type="password"] {
  width: 100%; 
  margin: 10px 0;
  border: 2px solid var(--Milkshake);
  border-radius: 25px; 
  font-size: 14px;
  background-color: var(--White);
  box-sizing: border-box;
  outline: none; 
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  }

.login-box button{
  width: 30%;
  padding: 5px;
  background-color: var(--Moss-green); 
  color: var(--White); 
  text-transform: uppercase;
  border: none;
  border-radius: 15px; 
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  margin-top: 10px;
}

.login-box button:hover {
  background-color: var(--Milkshake);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.register-link {
  font-family: outfit;
  font-size: small;
  color:var(--Moss-green);
  text-align: center; 
  margin-top: 15px;
  
}

.register-link a {
  color: blue;
  text-decoration: none;
}

.social-login {
  display: flex;
  justify-content: center;
  gap: 30px; 
  margin-bottom: 20px;
}

.social-login button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.social-login button img {
  width: 30px; 
  height: 30px;
}

.social-login a{
  font-weight: bold;
}
.social-login button:hover {
  background-color: transparent; 
  box-shadow: none; 
}

.magic-link {
  display: inline-flex;
  width: 30%;
  padding: 5px 10px;
  font-size: 10px;
  justify-content: center;
  background-color: var(--White);
  border: 2px solid var(--Milkshake);
  border-radius: 15px;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
  margin-top: 10px;
}

/* Header */
.jumbotron .display-4 {
  font-weight: bold;
}

nav a{
  text-decoration: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color:var(--Black);
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

.menu-toggle{
  display: none;
  font-size: 37px;
  background:none;
  border: none;
  color: var(--Tangerine);
  cursor: pointer;
}

/*Fin del Header*/

/*Inicio del footer*/
footer {
  width: 100%;
  position: fixed;
  bottom: 0%;
  background-color: var(--Marshmallow);
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}
footer p {
  margin-bottom: .25rem;
  color: var(--Black);
  font-weight: bold;
}
footer a{
  color: var(--Moss-green);
}
.container{
  display: flex;
  justify-content: space-around;
}
.container div{
  display: flex;
  justify-content: space-between;
}
.jap-redes{
  width: 66%;
}
.container i{
  margin: 0% 1rem 0% 1rem;
  font-size: large;
}
.bi-chevron-double-up{
  display: none;
}
/* fin de footer default*/ 
.site-header a {
  color:var(--White);
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color:var(--Black);
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: var(--White);
}

.img-fit {
  max-height: 100%;
}

.alert {
  display: none; /*silenciado por Marcia para ver el login hasta ser necesitado*/
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

.header {
  background-color: var(--Moss-green);
  padding: 3px 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header nav {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 15px;
  margin: 0;
  padding: 0;
  border: none;
}

@media (min-width: 768px) {
  nav {
    display: flex;
    flex-direction: row;
    padding: 10px;
  }

  .menu-toggle {
    display: none;
  }
}

@media (max-width: 768px) {
  nav {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: rgba(222, 244, 222, 0.3);
    width: auto;
    max-width: 300px;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    z-index: 10;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    margin: 0;
    border: none;
  }

  nav.active {
    display: flex;
    max-width: 200px;
    max-height: 300px;
    
   
  }

  .menu-toggle {
    display: block;
  }

  nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    border-bottom: 2px solid var(--Tangerine);
    box-sizing: border-box;
   
  }
  nav a:last-child{
    border-bottom:none;
  }
}


.header__text {
  font-family: var(--font);
  color: var(--Tangerine);
  margin-right: 50px;
}

.header__text:hover {
  color: var(--Milkshake);
  cursor: pointer;
}

.header a svg {
  margin-left: auto;
 
}


.logojap {
  margin-right: 130px; 
}
.logojap img {
  width: 270px;
  height: auto;
  display: block;
  margin: 0;
}

.container-p {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  padding: 20px;
}

.password-container {
  background-color: var(--Matcha);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 350px;
  text-align: center;
}

.password-container h2 {
  font-family: var(--font);
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--Moss-green);
  text-transform: uppercase;
}

.password-container p {
  margin-bottom: 30px;
  color: var(--Moss-green);
}

.password-container input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 2px solid var(--Milkshake);
  border-radius: 25px;
  font-size: 14px;
  background-color: var(--White);
  box-sizing: border-box;
  outline: none;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  margin-bottom: 20px; 
}

.password-container button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: var(--Moss-green);
  color: var(--White);
  border: none;
  border-radius: 25px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  margin-bottom: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}


.password-container button {
  width: 100%;
  padding: 10px;
  background-color: var(--Moss-green);
  color: var(--White);
  border: none;
  border-radius: 25px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.password-container button:hover {
  background-color: var(--Milkshake);
}

.password-container a {
  text-decoration: none;
  color: var(--Moss-green);
}

.register-container{
  background-color: var(--Matcha);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  max-width: 400px;
}

.register-container h1{
  color: var(--Moss-green);
  margin-bottom: 1rem;
  text-align: center;
}

.register-form{
  display: flex;
  flex-direction: column;
}

#products-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  padding: 0.75rem;
}

.titulo {
  display: flex;
  justify-content: center; 
  margin-top: 1rem;
}

h1{
  color: #FC8D08;
  font-size: 2.2rem;
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
  margin: 0; 
}

h1::after {
  content: "";
  position: absolute;
  left: 50%; 
  bottom: 8.5px; 
  transform: translateX(-50%); 
  width: 100%; 
  height: 2px;
  background-color: #F09100;
}

.card {
  background-color: var(--Matcha);
  border: 2px solid var(--Moss-green);
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  width: 19rem;
  height: 25rem;
  margin-bottom: 3rem;
  margin-top: 1rem;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

.card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 200px;
  object-fit: cover;
}

.card-body {
  padding: 1rem;
}

.card-title {
  color: var(--Moss-green);
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.card-text {
  color: var(--Gray);
}

.card-description {
  color: var(--Gray);
}

.card-price {
  color: var(--Tangerine);
  font-size: 1.1rem;
  font-weight: bold;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--Moss-green);
  margin: 20px -50px;   
}

.divider::before,
.divider::after {
  content: "";
  flex-grow: 1;
  border-top: 1px solid var(--Moss-green);
  margin: 0 10px;
}

.divider span {
  white-space: nowrap;
  color: var(--Moss-green);
  font-size: 16px;
}

/* INICIO Prompt Newsletter */
#newsletterPrompt {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  width: 30%;
  background-color: var(--Matcha);
  border: 3px solid var(--Moss-green);
  border-radius: 4px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s ease-out;
  z-index: 1000;
}

#newsletterPrompt.show {
  transform: translate(-50%, 0);
}

#newsletterPrompt .prompt-content {
  text-align: center;
}

#newsletterPrompt button {
  margin: 5px;
  padding: 10px 20px;
  background-color: var(--Milkshake);
  border: 1px solid var(--Moss-green);
  border-radius: 4px;
  color: #000;
  cursor: pointer;
}

#newsletterPrompt button:hover {
  background: var(--Sunflower);
}

#newsletterPrompt, #newsletterPrompt .prompt-content {
  font-family: 'Outfit', sans-serif !important;
 }
 /* FIN Prompt Newsletter */

 .register-container {
  background-color: var(--Matcha);
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 350px;
  width: 450px;
  text-align: center;
}

.register-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--Moss-green);
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.register-container h1::after {
  content: none;
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-form label {
  align-self: flex-start;
  margin-bottom: 5px;
  color: var(--Moss-green);
}

.register-form input {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: 2px solid var(--Milkshake);
  border-radius: 25px;
  font-size: 14px;
  background-color: var(--White);
  box-sizing: border-box;
  outline: none;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.register-form button {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: var(--Moss-green);
  color: var(--White);
  text-transform: uppercase;
  border: none;
  border-radius: 25px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.register-form button:hover {
  background-color: var(--Milkshake);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.popup {
  display: none; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.popup-content p {
  margin: 0 0 15px;
  font-size: 18px;
}

.popup-content button {
  padding: 10px 20px;
  background-color: #F09100;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.popup.show{
  display: flex;
}

.hidden {
  display: none;
}

#popupForm {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--Matcha);
  padding: 20px;
  border: 2px solid var(--Moss-green);
  border-radius: 4px;
  z-index: 1000;
}

#popupForm button[type="submit"] {
  background-color: var(--Moss-green);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

#popupForm button[type="submit"]:hover {
  background-color: var(--Milkshake);
}
 
/* INICIO Nombre de Usuario y Menú Desplegable */
#user-name {
  margin-left: auto;
  padding: 5px;
  font-size: 18px;
}

.user-menu-container {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  position: absolute;
  right: 0;
  background-color: var(--Moss-green);
  display: none;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-item {
  display: block;
  padding: 8px 16px;
  color: var(--Tangerine);
  text-decoration: none;
}

.dropdown-item:hover {
  background-color: var(--Marshmallow);
}

.user-menu-container:hover .dropdown-menu {
  display: block;
}

/* FIN Nombre de Usuario y Menú Desplegable */

@media only screen and (max-width: 768px) {
  body {
    background-position: center;
  }
  .login-container{
    display: block;
  }
  .logojap,
  .logojap img,
  .login-box {
    margin: auto;
  }
  .login-box{
    width:fit-content;
  }
  .container{
    display: flex;
  }
  .container div{
    flex-wrap: nowrap;
    align-self: center;
    width: fit-content;
  }
  .container div.jap-redes{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-self: center;
  }
  .bi-chevron-double-up{
    display: block;
    justify-self: end;
  }
  .volver-link{
    display: none;
  }
  .container p{
    font-size: small;
    align-self: center;
  }
}


#productSearch {
  padding: 10px;
  border-radius: 25px; 
  border: 1px solid var(--Milkshake); 
  font-size: 1rem; 
  flex-grow: 1; 
}


.filter {
  position: relative;
  display: inline-block;
  font-family: var(--font);
  font-size: 1.3rem;
}

.filter-menu {
  display: none; 
  background-color: rgba(255, 255, 255, 0.685); 
  padding: 10px; 
  font-size: 1.1rem;
  color: var(--Moss-green);
  border-radius: 10px;
}

.filter-toggle {
  font-size: 1rem;
  background-color: var(--Tangerine);
  color: var(--Moss-green);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 25px;
}

.filter-menu h3 {
  margin: 0 0 10px 0;
  color: var(--Moss-green);
  font-size: 1.5rem;
}

#sort-options {
  font-size: 1rem; 
  background-color: var(--Milkshake); 
  color: var(--Moss-green); 
  border: none; 
  padding: 10px 20px; 
  border-radius: 25px; 
  cursor: pointer; 
  appearance: none; 
  -webkit-appearance: none; 
  -moz-appearance: none; 
  width: auto; 
}

#sort-options-wrapper {
  position: relative; 
}

.price-range {
  margin-bottom: 10px;
}

.price-range input {
  margin-right: 5px;
  color: var(--Moss-green);
  background-color: var(--Matcha);
  border: var(--Moss-green);
}

#apply-filters {
  background-color: var(--Moss-green); 
  color: var(--Tangerine);
  border: none; 
  padding: 10px 20px; 
  font-size: 1rem; 
  border-radius: 4px; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
}

#apply-filters:hover {
  color: var(--Moss-green);
  background-color: var(--Tangerine); 
}

/* Contenedor principal para agrupar las imágenes y la información */
.product-details-container {
  display: flex;
  flex-direction: row; /* Asegura que las imágenes y la información estén en columnas (lado a lado) */
  gap: 2rem;
  width: 100%;
  margin-top: 2rem;
}

/* Contenedor para la columna de imágenes del producto */
#product-images {
  position: relative;
  
}
.products-img-btn{
  display: flex;
  align-items: center;
  justify-content: center;
}

#main-image-container {
  position: relative;
  width: 100%;
  overflow: hidden; 
}

#main-image {
  max-width: 100%;
  height: auto;
  display: block;
}

#thumbnails-container {
  display: flex;
  justify-content: center; /* Centra las miniaturas horizontalmente */
  flex-wrap: wrap; /* Permite que las miniaturas se envuelvan en una nueva línea si es necesario */
  margin-top: 10px; /* Espacio superior entre la imagen principal y las miniaturas */
}

.thumbnail {
  width: 100px;
  height: 100px;
  margin: 0.5rem;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 5px;
  overflow: hidden;
  transition: border-color 0.3s;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.thumbnail.active {
  border-color: var(--Marshmallow);
}

/* Botones de navegación */
.nav-buttons {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 10;
}

.nav-button {
  background-color: pink; /* Color inicial rosado */
  border: 1px solid pink; /* Borde inicial rosado */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  position: relative;
}

.nav-button:hover {
  background-color: white; /* Fondo blanco al hacer hover */
  border-color: var(--Milkshake); /* Borde color milkshake al hacer hover */
}

.nav-button::before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-top: 2px solid white; /* Flecha blanca inicialmente */
  border-right: 2px solid white;
  transition: border-color 0.3s ease;
  position: absolute;
}

.prev-button::before {
  transform: rotate(-135deg);
  left: 16px;
}

.next-button::before {
  transform: rotate(45deg);
  right: 16px;
}

.nav-button:hover::before {
  border-color: var(--Milkshake); /* Flecha color milkshake al hacer hover */
}
/* Contenedor para la columna de información del producto y comentarios */
.product-info-comments {
  flex: 1;
  max-width: 30%; /* Ajusta el ancho máximo para la columna de información */
  display: flex;
  flex-direction: column; /* Apila la información y los comentarios verticalmente */
}
#product-info, #product-comments {
  background-color: var(--Milkshake); 
  border-radius: 8px; 
  padding: 1.5rem; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
}

#product-info h2, #product-comments h3 {
  color: var(--Moss-green); 
  font-size: 1.8rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.comment {
  background-color: transparent; 
  padding: 1rem; 
  margin-bottom: 1rem;
  border-bottom: 1px solid  var(--Moss-green); 
}

.toggle-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-bottom: 1rem;
}

.btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 20px;
}

.btn:hover {
  color: var(--Milkshake);
}

.btn.active {
  background-color: var(--Moss-green);
  color: white;
}

/* Responsividad */
@media (max-width: 768px) {
  .product-details-container {
    flex-direction: column;
  }

  #product-images, .product-info-comments {
    max-width: 100%;
  }
}

#related-products {
  width: 100%;
  margin-top: 2rem; /* Espacio entre la información/comentarios y los productos relacionados */
  display: flex;
  flex-direction: column; /* Coloca los productos relacionados verticalmente */
}

.related-products-title {
  color: var(--Moss-green) !important; /* Aplica el color verde */
  font-size: 1.8rem; /* Tamaño del texto del título */
  margin-bottom: 1rem; /* Espacio debajo del título */
  font-weight: bold; /* Hacer el texto en negrita */
}

/* Inicio Zoom Products-info.hmtl */
#main-image-container {
  position: relative;
  overflow: hidden;
  cursor: zoom-in;
}

#main-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease;
}

#main-image.zoomed {
  transform: scale(2);
  cursor: zoom-out;
}
/* Fin Zoom Products-info.hmtl */

/* Inicio Ícono Favorito */
#favorite-icon {
  cursor: pointer;
  font-size: 24px;
  color: #f00;
  margin: 10px;
  transition: color 0.3s ease;
}

#favorite-icon:hover {
  color: #ff6666;
}
/* Fin Ícono Favorito */